h1{
    font-size: 50px;
    color: gray;
}
p{
    font-size: 20px;
    color: darkgoldenrod ;
}
span{
    color: rgb(255, 94, 0);
}
.class-button{
    text-decoration: none;
    background-image: linear-gradient( red ,rgb(241, 99, 122))  ;
    color: aliceblue;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 30px;
}
.flexible-container{
    display: flex;
margin-bottom: 100px;
margin-top: 50px;
}

.div-fclass{
    width: 60%;
    padding-left:7%;

}
.div-sclass{
    width: 60%;
    padding-right:10% ;
    background-image: url(images/shapes/Group\ 8447.png);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: center;
    
  
}


.div-sclass img{
    width:320px;
    padding-left: 31%;
    padding-top: 15%;
  
}
.pic{
    width: 60%;
    padding-left: 10%;
    padding-top: 5%;

}
.text{
   
    width:40%;
    padding-right:10%;
    padding-top: 10%;
 
}
.image2{
    width: 300px;
}  
.middle-sec {
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-position: center;
    background-repeat: no-repeat ;
    background-size:100% ;


}
.flexible-container2{
    display: flex;
margin-bottom: 100px;
margin-top: 5px;
}
.recipe{
    padding-left: 30%;
    width: 50%;
}


